html, body
  background $panelBg

  a
    color $link

  button
    [data-prefix="fas"]
      margin-right .25em

  blockquote
    color $color

  iframe
    margin 0

  code
    word-break break-word

  hr
    max-width 100%
    margin 2em auto

  dl
    dt
      background #adadad
      display inline-block
      padding 0.25rem 0.5rem
      font-family source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace

    dd + dt
      margin-top 1em