@require '~styles/98.styl'

@require '~styles/core.styl'
@require '~styles/grid.styl'
@require '~styles/navbar.styl'
@require '~styles/sidebar.styl'
@require '~styles/buttons.styl'
@require '~styles/window.styl'

@require '~styles/overrides.styl'
@require '~styles/helpers.styl'

@require '~public/handsfreejs/handsfree.css'

/**
 * Misc
 */
.next-element-is-changelog + table
  width 100%
  display block

  td:nth-child(1)
    width 100px
  td:nth-child(2)
    width 80px

/**
 * Demo styles
 */
.multi-hand-scrollers
  td
    padding 0
  
    > div
      max-height 300px
      overflow auto

      > div
        height 1000px
        width 1000px
        background url(/favicon.png)
        background-repeat space
        background-size 32px
        opacity 0.25

/**
 * Theme Overrides
 */
html
  .sidebar .sidebar-sub-headers
    padding-left 2em

  table
    display table
    table-layout fixed
    width 100%

  // Fixes issue where home link pagers shows up as just "/" instead of "🏠 Home"
  // .prev[href='/']
  //   color transparent
  //   &:after
  //     color $link
  //     content '🏠 Home'
  //     position relative
  //     left -.85em

// Hide fallback loaders
.handsfree-loading
  &.handsfree-model-hands.handsfree-started .handsfree-hide-when-started-without-hands,
  &.handsfree-model-facemesh.handsfree-started .handsfree-hide-when-started-without-facemesh,
  &.handsfree-model-pose.handsfree-started .handsfree-hide-when-started-without-pose,
  &.handsfree-model-handpose.handsfree-started .handsfree-hide-when-started-without-handpose,
  &.handsfree-model-weboji.handsfree-started .handsfree-hide-when-started-without-weboji
    display none

/**
 * @TODO Organize the following better
 */
.handsfree-debugger
  background #222

.handsfree-canvas-video
  opacity .1

[class^='flex']
  display flex

.flex-row
  flex-direction row

.verticle-middle-children
  & > *
    vertical-align middle

.space-children
  & > *
    display inline-block
    margin-right 10px

img
  max-width 100%

hr
  margin 0
  border none
  width 400px
  height 1px
  opacity 0.5
  background linear-gradient(
    to right,
    red 20%,
    yellow 20%,
    yellow 36%,
    green 36%,
    green 60%,
    blue 60%,
    blue 100%
  )