html
  .navbar, .sidebar,
  .navbar .links
    background $panelBg
  .navbar .site-name
    color $link

  .search-box input
    background-position 7px 7px
    color $color
    font-size 1em
    padding-left 2em

#navbar-handsfree-toggle
  a
    display inline-block
    margin-right 1em
  button
    width auto
  
@media (max-width: $MQMobile)
  .search-box
    margin-right: 2rem !important

  // Only show icons
  header.navbar
    button
      span:last-child
        display: none

    .home-link.router-link-active
      background url('/favicon.png') no-repeat
      background-position top left
      background-size 35px 35px
      display inline-block
      width 100px
      height 35px
      
      img
        display none