html
  .window
    .title-bar
      button
        margin-left 3px
        &:active
          padding 0 !important
        &:hover
          background-color silver !important

    &.maximized
      .window-body section
        overflow: auto
        width 740px
        margin-left auto
        margin-right auto
        max-width 100%

        img
          width 100%

.window-component
  margin-top .5em
  flex-direction column
  display flex

  &.mb-0
    margin-bottom 0 !important

  &.handsfree-show-when-started
    display none

  button[aria-label='Restore']
    display none

  .window-body
    overflow hidden
    flex auto

  &.minimized
    .window-body
      display none !important

    button[aria-label='Minimize']
      display none
    button[aria-label='Restore']
      display inline-block
  
  &.maximized
    position fixed
    top 56px
    margin-top 0
    left 0
    right 0
    bottom 0
    z-index 100
    height calc(100vh - 61px) !important

    button[aria-label='Maximize']
      display none
    button[aria-label='Restore']
      display inline-block

.handsfree-started
  .window-component.handsfree-show-when-started
    display flex