button {
    font-size: 2.5em;
    cursor: pointer;
}

#cover {
    position: fixed;
    z-index: 10;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    background: #ccc;
    padding: 20px;
    border-radius: 3px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.35);
}

#start-and-stop {
    align-self: center;

}

#camera-stream {
    align-self: flex-end;
}
